name: Test

on:
  push:
    branches:
    - main
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Step 1  
      id: step1
      continue-on-error: true. 
      run:  'blabalbalba'  
    - name: Step 2  
      if: steps.step1.outcome != 'success'
      run:  echo 'bloblboblo'
